src/main/resources/META-INF/node.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.baofoo.com/schema/node"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.baofoo.com/schema/node"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[ 行为节点控制--责任链模式]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="action">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 业务行为节点]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:attribute name="ref" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="if">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 业务行为if控制节点]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="action" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:attribute name="ref" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="actions">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ 行为集合节点]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                    <xsd:element ref="action"/>
                    <xsd:element ref="if"/>
                </xsd:choice>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
